
@model List<DgCmsPad.Models.Post>

@{
    ViewData["Title"] = "Posts";
}

<h1 class="display-4 pb-5">News</h1>

<div class=" table "  style="border-block-style:solid" >
    @foreach (var item in Model)
    {
        <div class="col-1"> <img src="~/media/posts/@item.Image" class="img-fluid" />
            <h4>@item.Name     </h4><br />
            
            <p>
                @item.Date.ToString()
            </p><br />
            <p>@item.Slug</p><br />
            <p>@item.Details</p>
            <p>@Html.ActionLink("Details", "Details", "Post")</p>
        </div>
    }
</div>








